.Checkout {
  height: calc(100vh - 60px);
  min-width: 320px;

  display: flex;
  flex-direction: column;

  .site-title {
    padding: 5px 0 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    h3 {
      width: clamp(320px, 95vw, 600px);
      padding: 10px;
      background-color: rgb(247, 247, 247);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  .items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding-bottom: 10px;
  }

  .cart-summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .summary-details {
      width: clamp(320px, 95vw, 600px);

      padding: 5px 5px 15px 5px;
      background-color: rgb(247, 247, 247);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      h3,
      .details-total {
        text-align: center;
        padding: 5px 0 5px 0;
        font-weight: 800;
      }
      .details-items {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .payments-accepted {
        padding: 10px 5px 10px 5px;

        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 25px;
        p {
          font-size: 15px;
        }
      }

      button {
        font-size: 20px;
        width: 100%;
        cursor: pointer;
        border: none;
        padding: 2px 0 2px 0;
        color: white;
        background-color: rgb(26, 121, 194);
      }
    }
  }

  .empty-cart {
    display: flex;
    justify-content: center;

    .continue-shopping {
      width: clamp(300px, 95vw, 600px);

      text-align: center;
      padding: 10px;
      background-color: rgb(247, 247, 247);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .products-link {
        padding: 5px;
        border-radius: 5px;
        color: white;
        background-color: black;
      }
    }
  }

  footer {
    padding: 5px 0 5px 0;
    height: 30px;
    font-size: 12px;

    background-color: white;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .icon {
      color: grey;
      cursor: pointer;
    }
  }
}

.CarCheckout {
  width: clamp(320px, 95vw, 600px);

  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: rgb(247, 247, 247);

  display: flex;
  flex-wrap: wrap;

  .carInfo {
    display: flex;
    width: 100%;

    .carImage {
      min-width: 150px;
      min-height: 125px;
      background-size: cover;
      background-position: center;
    }
    .carDetails {
      padding-left: 5px;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .carPrice {
      font-weight: 900;
      padding-right: 5px;
      margin-left: auto;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      cursor: pointer;
      border: none;
      padding: 0 5px 0 5px;
      color: white;
      background-color: rgb(243, 117, 117);
    }
  }
}
