.Navbar {
  height: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;

  ul {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li {
    list-style: none;
  }

  .navbar-logo {
    margin-left: 10px;
  }
  .navbar-logo img {
    width: 150px;
    height: auto;
  }
  .navbar-toggleSubmenu {
    margin-right: 10px;
    color: grey;
    font-size: 25px;
    cursor: pointer;

    position: relative;
    .hamburger-icon {
      font-size: 40px;
      color: black;
    }
    .cart-count {
      position: absolute;
      top: 2.5px;
      right: 2.5px;
      transform: translate(5px, -5px);

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;

        background-color: rgb(233, 109, 108);
        color: white;
        font-weight: 600;

        border-radius: 9999px;
        height: 15px;
        width: 15px;
      }
    }
  }

  // Dropdown menu displayed when hamburger icon clicked
  .dropdown-backdrop {
    height: calc(100vh - 60px);
    width: 100%;
    display: none;
    position: absolute;

    background-color: rgb(0, 0, 0, 0.7);

    .dropdown {
      position: relative;
      width: 100%;
      height: min-content;

      background-color: white;

      ul {
        display: flex;
        flex-direction: column;
      }
      .dropdown-item {
        width: 100%;
        text-align: center;
        padding: 25px 0 25px 0;

        cursor: pointer;
        border-bottom: solid grey 1px;
      }
      .dropdown-item:hover {
        background-color: rgb(223, 223, 223);
      }

      animation: drop-in ease-in-out 300ms forwards;
      transform-origin: top center;
    }
  }
  @keyframes drop-in {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
