.Products {
  height: calc(100vh - 60px);
  min-width: 320px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .filter-options {
    width: 300px;
    padding: 10px 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    .filter-option {
      cursor: pointer;
    }
  }

  .products-container {
    padding: 10px 0 10px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px;
  }

  footer {
    margin-top: auto;
    height: 30px;
    font-size: 12px;

    background-color: white;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .icon {
      color: grey;
      cursor: pointer;
    }
  }
}

.CarProduct {
  width: 300px;
  min-height: fit-content;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;

  .imageContainer {
    min-height: 200px;
    background-size: cover;

    padding: 10px 0 0 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: solid 1px grey;

    .favoriteHeart {
      color: black;
    }
    .favoriteHeart:hover {
      color: rgb(238, 46, 78);
      cursor: pointer;
    }
  }
  .carInfo {
    padding: 10px 10px 5px 10px;
    font-weight: 500;
    color: rgb(73, 73, 73);

    .priceAndMileage {
      font-size: 20px;
    }
    .action-buttons {
      display: flex;
      gap: 2px;
    }
    .action-buttons {
      .add,
      .remove {
        font-weight: bold;
        border-radius: 2.5px;
        border: none;
        cursor: pointer;
        color: white;
      }
      .add {
        flex: 5;
      }
      .remove {
        flex: 1;
      }
    }
  }
  transition: transform 0.5s;
}
.CarProduct:hover {
  transform: scale(1.075);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
